In [1]:
import pandas as pd

from datetime import datetime

def dt(hour, minute, second=0):
    return datetime(2022, 1, 1, hour, minute, second)

In [5]:
data = [
    (None, None, dt(1, 2), dt(1, 10)),
    (1, None, dt(1, 2), dt(1, 10)),
    (1, 2, dt(2, 2), dt(2, 3)),
    (None, 1, dt(1, 2, 0), dt(1, 2, 50)),
    (2, 3, dt(1, 2, 0), dt(1, 2, 59)),
    (3, 4, dt(1, 2, 0), dt(2, 2, 1)),     
    ]

columns = ['PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime']
df = pd.DataFrame(data, columns=columns)

In [6]:
df.head()

   PULocationID  DOLocationID tpep_pickup_datetime tpep_dropoff_datetime
0           NaN           NaN  2022-01-01 01:02:00   2022-01-01 01:10:00
1           1.0           NaN  2022-01-01 01:02:00   2022-01-01 01:10:00
2           1.0           2.0  2022-01-01 02:02:00   2022-01-01 02:03:00
3           NaN           1.0  2022-01-01 01:02:00   2022-01-01 01:02:50
4           2.0           3.0  2022-01-01 01:02:00   2022-01-01 01:02:59

In [7]:
df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
df['duration'] = df.duration.dt.total_seconds() / 60

In [8]:
df

,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,duration
0,NaN,NaN,2022-01-01 01:02:00,2022-01-01 01:10:00,8.000000
1,1.0,NaN,2022-01-01 01:02:00,2022-01-01 01:10:00,8.000000
2,1.0,2.0,2022-01-01 02:02:00,2022-01-01 02:03:00,1.000000
3,NaN,1.0,2022-01-01 01:02:00,2022-01-01 01:02:50,0.833333
4,2.0,3.0,2022-01-01 01:02:00,2022-01-01 01:02:59,0.983333
5,3.0,4.0,2022-01-01 01:02:00,2022-01-01 02:02:01,60.016667

In [9]:
categorical_features = ['PULocationID', 'DOLocationID']
df = df[(df.duration >= 1) & (df.duration <= 60)].copy()

df[categorical_features] = df[categorical_features].fillna(-1).astype('int').astype('str')

In [10]:
df

,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,duration
0,-1,-1,2022-01-01 01:02:00,2022-01-01 01:10:00,8.0
1,1,-1,2022-01-01 01:02:00,2022-01-01 01:10:00,8.0
2,1,2,2022-01-01 02:02:00,2022-01-01 02:03:00,1.0

In [11]:
df.to_dict()

{'PULocationID': {0: '-1', 1: '1', 2: '1'},
 'DOLocationID': {0: '-1', 1: '-1', 2: '2'},
 'tpep_pickup_datetime': {0: Timestamp('2022-01-01 01:02:00'),
  1: Timestamp('2022-01-01 01:02:00'),
  2: Timestamp('2022-01-01 02:02:00')},
 'tpep_dropoff_datetime': {0: Timestamp('2022-01-01 01:10:00'),
  1: Timestamp('2022-01-01 01:10:00'),
  2: Timestamp('2022-01-01 02:03:00')},
 'duration': {0: 8.0, 1: 8.0, 2: 1.0}}

In [12]:
def prepare_data(df, categorical_features, pickup_datetime_colname, dropoff_datetime_colname):
    print(pickup_datetime_colname)
    df['duration'] = df[dropoff_datetime_colname] - df[pickup_datetime_colname]
    df['duration'] = df.duration.dt.total_seconds() / 60

    df = df[(df.duration >= 1) & (df.duration <= 60)].copy()

    df[categorical_features] = df[categorical_features].fillna(-1).astype('int').astype('str')

    return df

In [13]:
categorical_features = ['PULocationID', 'DOLocationID']
prepare_data(df, categorical_features, "tpep_pickup_datetime", "tpep_dropoff_datetime")

tpep_pickup_datetime

,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,duration
0,-1,-1,2022-01-01 01:02:00,2022-01-01 01:10:00,8.0
1,1,-1,2022-01-01 01:02:00,2022-01-01 01:10:00,8.0
2,1,2,2022-01-01 02:02:00,2022-01-01 02:03:00,1.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PULocationID           3 non-null      object
 1   DOLocationID           3 non-null      object
 2   tpep_pickup_datetime   3 non-null      datetime64[ns]
 3   tpep_dropoff_datetime  3 non-null      datetime64[ns]
 4   duration               3 non-null      float64
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 144.0+ bytes

In [15]:
output_data = [(-1,-1,pd.to_datetime('2022-01-01 01:02:00'),pd.to_datetime('2022-01-01 01:10:00'),8.0),
	(1,-1,pd.to_datetime('2022-01-01 01:02:00'),pd.to_datetime('2022-01-01 01:10:00'),8.0),
	(1,2, pd.to_datetime('2022-01-01 02:02:00'),pd.to_datetime('2022-01-01 02:03:00'),1.0)
    ]
output_columns = ['PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'duration']
expected_result = pd.DataFrame(output_data, columns=output_columns).to_dict()

In [16]:
expected_result

{'PULocationID': {0: -1, 1: 1, 2: 1},
 'DOLocationID': {0: -1, 1: -1, 2: 2},
 'tpep_pickup_datetime': {0: Timestamp('2022-01-01 01:02:00'),
  1: Timestamp('2022-01-01 01:02:00'),
  2: Timestamp('2022-01-01 02:02:00')},
 'tpep_dropoff_datetime': {0: Timestamp('2022-01-01 01:10:00'),
  1: Timestamp('2022-01-01 01:10:00'),
  2: Timestamp('2022-01-01 02:03:00')},
 'duration': {0: 8.0, 1: 8.0, 2: 1.0}}

In [20]:
df.to_dict() == expected_result

False

In [19]:
df

,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,duration
0,-1,-1,2022-01-01 01:02:00,2022-01-01 01:10:00,8.0
1,1,-1,2022-01-01 01:02:00,2022-01-01 01:10:00,8.0
2,1,2,2022-01-01 02:02:00,2022-01-01 02:03:00,1.0